<h1>Welcome to Instarails</h1>
<p>Latest 10 images</p>

<h2>Challenges</h2>
<ul>
  <li> Add login/ login out to applcation layout</li>
  <li> Shrine </li>
  <li> Bootstrap 4 Gem </li>
  <li> Add link to new photo on landing page </li>
  <li> Each photos is linked </li>
</ul>

<h1>Photos</h1>

<%= link_to 'Add Photo', new_photo_path %>

<%= render @photos %>
